{% if post.previous == false or post.previous.date != post.date %}
<div class="row mx-2 mb-3">
	<div class="col p-0">
		<h3 class="mb-0">{{ post.date | date: "%A" }}</h1>
		<h4 class="mb-0">{{ post.date | date: "%-d %B, %Y" }}</h3>
	</div>
</div>
{% endif %}
